.App {
  text-align: center;
  padding: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-main {
  background-image: linear-gradient(180deg, #cbffdc 0, #baffdc 16.67%, #abffda 33.33%, #9df2d5 50%, #92e3cf 66.67%, #89d5c9 83.33%, #83c9c4 100%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

.container-pokemon {
  background-image: linear-gradient(180deg, #cdc3ff 0, #9d9df2 50%, #7278b7 100%);
  border-radius: 15px;
  display: flex;
  padding: 10px;
  box-shadow: 10px 10px 5px rgb(108, 91, 119);
}

.nombre {
  font-size: 18px;
}

.id {
  margin: 0;
}

.imagen {
  width: 150px;
  cursor: pointer;
}



.container-search {
  background-color: #244077;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.container-button {
  display: flex;
}

.button-change {
  border: none;
}

.prev {
  background-color: #244077;
  color: white;
  margin-right: 5px;
}

.next {
  background-color: #244077;
  color: white;
}

.search {
  display: flex;
}

.input-search {
  width: 300px;
  border-radius: 15px 0 0 15px;
  border: 1px solid gray;
}

.button-search {
  width: 50px;
  border-radius: 0 15px 15px 0;
  border: 1px solid gray;
  border-left: none;
}

.logo {
  width: 50px;
}

.logo2 {
  height: 20px;
  pointer-events: none;
}

footer {
  background-color: #244077;
  color: white;
  border-radius: 0 0 15px 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo2 {
    animation: logo2-spin infinite 20s linear;
  }
}

@keyframes logo2-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:420px) {
  
  .App {
    padding: 5px;
  }

  .container-pokemon {
    padding: 5px;
  }

  .search {
    width: 20%;
  }

  .logo {
    display: none;
  }
}